<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homepage.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDetailsController</servlet-name>
        <servlet-class>controller.homepage.EventDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.admin.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventAdminServlet</servlet-name>
        <servlet-class>controller.admin.EventAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.authen.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardUserServlet</servlet-name>
        <servlet-class>controller.user.DashboardUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controller.user.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeIndex</servlet-name>
        <servlet-class>controller.homepage.HomeIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>controller.homepage.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>controller.homepage.Gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.homepage.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTicketInfoServlet</servlet-name>
        <servlet-class>controller.admin.GetTicketInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEventServlet</servlet-name>
        <servlet-class>controller.user.UserEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTicketServlet</servlet-name>
        <servlet-class>controller.user.UserTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>controller.user.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.user.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegistrationsServlet</servlet-name>
        <servlet-class>controller.admin.AdminRegistrationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportsServlet</servlet-name>
        <servlet-class>controller.admin.AdminReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDetailsController</servlet-name>
        <url-pattern>/event-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventAdminServlet</servlet-name>
        <url-pattern>/admin/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardUserServlet</servlet-name>
        <url-pattern>/user/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>file-upload-path</param-name>
        <param-value>/uploads/event_images/</param-value>
    </context-param>
    <listener>
        <listener-class>config.WebAppInitializer</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>HomeIndex</servlet-name>
        <url-pattern>/homeIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTicketInfoServlet</servlet-name>
        <url-pattern>/admin/get-ticket-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEventServlet</servlet-name>
        <url-pattern>/user/events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTicketServlet</servlet-name>
        <url-pattern>/user/tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/user/registrations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegistrationsServlet</servlet-name>
        <url-pattern>/admin/registrations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportsServlet</servlet-name>
        <url-pattern>/admin/reports</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homeIndex</welcome-file>
    </welcome-file-list>
    <!-- Phục vụ tất cả tài nguyên tĩnh -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
</web-app>
